<!--assume: boolean @flag[:state] -->
<!--        string  @flag[:type]  -->
<!--        int     @flag[:id]    -->

<div class="" id="flaggable-button">
  <% if @flag[:state] %>
    <%= form_tag(destroy_flag_path, :method => 'delete', :remote => true) do %>
      <%= hidden_field_tag(:type, @flag[:type]) %>
      <%= hidden_field_tag(:id, @flag[:id]) %>
      <% if @flag[:type] == 'society' %>
        <%= submit_tag("Following", class: 'btn btn-primary flagged active') %>
      <% else %>
        <%= submit_tag("Liking", class: 'btn btn-primary flagged active') %>
      <% end %>
    <% end %>
  <% else %>
    <%= form_tag(create_flag_path, :method => "post", :remote => true) do %>
      <%= hidden_field_tag(:type, @flag[:type]) %>
      <%= hidden_field_tag(:id, @flag[:id]) %>
      <% if @flag[:type] == 'society' %>
        <%= submit_tag("Follow", class: 'btn btn-default unflagged') %>
      <% else %>
        <%= submit_tag("Like", class: 'btn btn-default unflagged') %>
      <% end %>
    <% end %>
  <% end %>

</div>


