<div id="comment-form row" style="text-align: center;padding-bottom: 30px">

  <%= form_for comment, :url => comments_path, :method => 'post', remote: true do |f| %>
    <div class="input-group">
      <%= text_field_tag :comment, '', placeholder: 'write your comment', class: 'form-control' %>

    <%= hidden_field_tag :commentable_id, comment.commentable_id %>
    <%= hidden_field_tag :commentable_type, comment.commentable_type %>
    <div class="input-group-btn">
    <span>
      <%= button_tag :submit, class: 'btn btn-primary',style: 'right',data: { disable_with: 'Submitting…' } %>
    </span>
    </div>
      </div>
    </div>
  <% end %>
</div>


<%= javascript_include_tag 'comments/comments' %>