<div class="comments-body">
  <%= render :partial => 'comments/form', locals: { comment: @new_comment } %>

  <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>

</div>