<div id="login-panel">

</div>
<div class="container-fluid" id="login-container">
  <div class="content-center row">

    <div class="signin col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
      <h2 class="initialism">Please Sign In</h2>
      <form action="<%= user_login_path %>" method="post" class="form-signin" id="signup-form">
        <%= select_tag(:institution, options_for_select([['the University of Melbourne', 1], ['Others', 2]], 1), class: 'form-control') %>
        <%= text_field_tag :email, '', placeholder: "Email Address", class: 'input-block-level form-control', id: "signin-form-email" %>
        <%= password_field_tag :password, '', placeholder: "Password", class: 'input-block-level form-control', id: "signin-form-pass" %>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
      </form>
    </div>

  </div>
</div>

<%= stylesheet_link_tag 'login/login' %>
<%= javascript_include_tag 'login/login' %>