<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>My Ticket</h3>
  </div>
  <ul class="list-group">
    <%
       @user_tickets.each do |user_ticket|
       @ticket_service = TicketsService.new

    %>
    <li class="list-group-item">
      <%
         ticket =@ticket_service.find_ticket(user_ticket.ticket_id)
         event =@ticket_service.find_ticket_event(ticket.id)
      %>
      <h3><%= event.name %></h3>
      <h4>
      <%= ticket.ticket_type %>
      X <%= user_ticket.number %>
        &nbsp;&nbsp;Price: $<%= ticket.price %>X<%= user_ticket.number %>=$<%= ticket.price*user_ticket.number %>

        &nbsp;&nbsp;State:<% if user_ticket.state %>
        Paid
          <% else %>
        Not Paid
          <button class="btn btn-danger" >Pay Now</button>
          <% end %>
      </h4>

    </li>
    <% end %>
  </ul>
</div>