<% @results = Hash.new %>
<% @results[:events] = liked_events %>
<h2>My Liked Events</h2>
<%= render 'shared/list' %>
<h2>My Booked Events</h2>
<% @results[:events] = booked_events %>
<%= render 'shared/list' %>