#login-panel {
  background-image: image_url('login_bg.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  position: absolute;
}

#login-container {
  height: 100%;
}

.content-center {
  border-color: rgb(51, 51, 51);
  color: rgb(51, 51, 51);
  font-family: ProximaNova, 'Open Sans', Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 100%;

}
.signin {
  text-align: center;
  position: absolute;
}
.content-center .signin button {
  -webkit-appearance: none;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  text-align: center;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease;
  width: 160px;
}

.content-center .signin form {
//  display: inline-block;
  text-align: center;
  padding-top: 0;
}
//
.content-center .signin h2 {
//  font-size: 30px;
  font-size: 2.5vmax;
  text-align: center;
}

.content-center .signin select {
  margin-bottom: 10px;
  text-align: center;
}

.content-center .signin input {
  margin-bottom: 10px;
  text-align: center;
}