<!--Assume there is @image_links available-->

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% unless @image_links.blank? %>
      <% @image_links.each_index do |index| %>
        <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="<%= "active" if index == 0 %>"></li>
      <% end %>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% unless @image_links.blank? %>
      <% @image_links.each_index do |index| %>
        <div class="item <%= 'active' if index == 0 %>">
          <%= image_tag @image_links[index], class: 'center-block' %>
          <div class="carousel-caption">
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>