<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header col-xs-12">
    <button id="sidebar-toggle-button" type="button" class="btn-default pull-left visible-sm visible-xs navbar-toggle">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= root_path %>">Club Biz</a>
    <div class="col-xs-6 col-sm-4 pull-right search-form">
      <form class="navbar-form pull-right" role="search" id="search-form">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="keyword" id="keyword">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
          </div>
          <div class="input-group-btn btn-group" id="search-filter">
            <button type="button" class="dropdown-toggle btn btn-default" data-toggle="dropdown"><span class="hidden-xs">Filter</span><span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="javascript:void(0);">
                  <label>
                    <input type="checkbox" value="society" checked> Society</label>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <label>
                  <input type="checkbox" value="event" checked> Event</label>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <label>
                  <input type="checkbox" value="venue" checked> Venue</label>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </form>
    </div>

  </div>

</div>

