<div class="list-group" xmlns="http://www.w3.org/1999/html">
  <% unless @results[:events].blank? %>
    <% @results[:events].each do |event| %>
      <%= link_to "/event/#{ event.id }", remote: true, class: 'list-group-item' do %>
        <h4 class="list-group-item-heading"><i class="icon-bag"></i> <%= event.name %></h4>
        <p class="list-group-item-text">
          Time: <%= event.time %> <br>
          Venue: <%= event.venue %>
        </p>
      <% end %>
    <% end %>
  <% end %>
  <% unless @results[:societies].blank? %>
    <% @results[:societies].each do |society| %>
      <%= link_to "/society/#{ society.id }", remote: true, class: 'list-group-item', data: {:society_id => society.id} do %>
        <h4 class="list-group-item-heading"><i class="icon-plane"></i> <%= society.name %></h4>
        <p class="list-group-item-text">
          <%= society.description %>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>