
<ul class="nav">
  <li>
    <a href="#" data-toggle="offcanvas" class="visible-md text-center">
      <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
  </li>
</ul>

<% user = role[:user] %>
<% societies = role[:societies] %>
<div id="swipable" data-role-num="<%= societies.length + 1 %>">
  <div id="swipable-item0" data-user-id="<%= user[:id] %>" data-role-type="user" class="swipable-item">
    <div class="role-portrait">
      <%= image_tag(user[:portrait_link], class: 'img-circle img-responsive') %>
    </div>
    <nav>
    <ul class=" lg-sidebar sidebar-ul nav nav-pills nav-stacked hidden-md">
      <li>
        <p style="text-align: center; font-size: 12pt;">
          <span class="pull-left icon-arrow-left role-switch-left"></span>
          <span class="text-center"><%= @_current_user.name %></span>
          <span class="pull-right icon-arrow-right role-switch-right"></span>
        </p>
      </li>
      <li>
        <a href="<%= index_page_path %>">
          <i class="glyphicon glyphicon-home"></i>
          <span class="sidebar-item" style="color:  #428bca">My Feeds</span>
        </a>
      </li>
      <li class="nav-divider"></li>
      <li>
        <a style="color:  #8a6d3b" href="<%= new_societies_url %>">
          <i class="glyphicon glyphicon-home"></i>
          <span class="sidebar-item" >New Society</span>
        </a>
      </li>
      <li class="nav-divider"></li>
      <li>
        <a   style="color:  #3c763d" href="<%= user_events_path %>">
          <i class="icon-diamond"></i>
          <span class="sidebar-item">My Events</span>
        </a>
      </li>
      <li class="nav-divider"></li>
      <li>
        <a style="color:  #a94442" href="//?action=download-manifest&url=http://0.0.0.0:3000/bossTimer.plist>
          <i class="icon-heart"></i>
          <span class="sidebar-item" >My Societies</span>
        </a>
      </li>
      <li class="nav-divider"></li>
      <li>
        <a style="color:  #428bca" href="/my_tickets">
          <i class="icon-star"></i>
          <span class="sidebar-item" >My Tickets</span>
        </a>
      </li>
    </ul>

    <ul class="md-sidebar sidebar-ul nav nav-pills nav-stacked visible-md hidden-sm hidden-xs">
      <li>
        <a href="<%= index_page_path %>">
          <i class="glyphicon glyphicon-home"></i>
        </a>

      </li>
      <li class="nav-divider"></li>
      <li>
        <a href="<%= new_societies_url %>">
          <i class="glyphicon glyphicon-home"></i>
        </a>
      </li>
      <li class="nav-divider"></li>
      <li>
        <a href="<%= user_events_path %>">
          <i class="icon-diamond"></i>
        </a>
      </li>
      <li class="nav-divider"></li>
      <li>
        <a href="#">
          <i class="icon-heart"></i>
        </a>
      </li>
      <li class="nav-divider"></li>
      <li>
        <a href="#">
          <i class="icon-star"></i>
        </a>
      </li>
    </ul>
      </nav>
  </div>

  <% societies.each_index do |index| %>
    <div id="swipable-item<%= index + 1 %>" data-society-id="<%= societies[index] %>" data-role-type="society" class="swipable-item hidden">
      <div class="role-portrait">
        <% image = societies[index][:image] %>
        <% if image.blank? %>
          <%# image_tag('default_portrait.jpg', class: 'img-circle img-responsive') %>
        <% else %>
          <%= image_tag(image, class: 'img-circle img-responsive') %>
        <% end %>
      </div>
      <ul class="lg-sidebar sidebar-ul nav nav-pills nav-stacked hidden-md">
        <li>
          <p style="text-align: center; font-size: 12pt;">
            <span class="pull-left icon-arrow-left role-switch-left"></span>
            <span class="text-center"><%= SocietiesService.new.find_society(societies[index][:id]).name %></span>
            <span class="pull-right icon-arrow-right role-switch-right"></span>
          </p>
        </li>
        <li>
          <a href="<%= root_path %>">
            <i class="glyphicon glyphicon-home"></i>
            <span class="sidebar-item">Society Feeds</span>
          </a>
        </li>
        <li class="nav-divider"></li>
        <li>
          <%= link_to new_events_url(society_id: societies[index][:id]),:style=>'color:  #8a6d3b' do %>
            <i class="glyphicon glyphicon-home"></i>
            <span class="sidebar-item">New Event</span>
          <% end %>
        </li>
        <li class="nav-divider"></li>
        <li>
          <a style="color:  #3c763d" href="<%= society_events_path(id: societies[index][:id]) %>">
            <i class="icon-diamond"></i>
            <span class="sidebar-item">Society Events</span>
          </a>
        </li>
        <li class="nav-divider"></li>
        <li>
          <a style="color:  #a94442" href="#">
            <i class="icon-heart"></i>
            <span class="sidebar-item">Members</span>
          </a>
        </li>
        <li class="nav-divider"></li>
        <li>
          <a style="color:  #428bca" href="#">
            <i class="icon-star"></i>
            <span class="sidebar-item">Edit Profile</span>
          </a>
        </li>
      </ul>

      <ul class="md-sidebar sidebar-ul nav nav-pills nav-stacked visible-md hidden-sm hidden-xs">
        <li>
          <a href="<%= root_path %>">
            <i class="glyphicon glyphicon-home"></i>
          </a>
        </li>
        <li class="nav-divider"></li>
        <li>
          <%= link_to new_events_url(society_id: societies[index][:id]),:style=>'color:  #8a6d3b' do %>
            <i class="glyphicon glyphicon-home"></i>
          <% end %>
        </li>
        <li class="nav-divider"></li>
        <li>
          <a href="#">
            <i class="icon-diamond"></i>
          </a>
        </li>
        <li class="nav-divider"></li>
        <li>
          <a href="<%= society_events_path(id: societies[index][:id]) %>">
            <i class="icon-heart"></i>
          </a>
        </li>
        <li class="nav-divider"></li>
        <li>
          <a href="#">
            <i class="icon-star"></i>
          </a>
        </li>
      </ul>
    </div>
  <% end %>

  <div class="col-xs-12 " style="margin-top: 30px" >
    <%= link_to user_logout_path, style: 'text-decoration: none;' do %>
      <span class="glyphicon glyphicon-off img-responsive" style="text-align: center; font-size: 30px;"></span>
      <%# image_tag('logout.ico', class: 'img-responsive ' , style: 'max-width: 50px', class: 'center-block pull-left') %>

    <% end %>
  </div>

</div>
