
<div class="panel panel-primary" id="ticket-info">
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    <ul>
      <% tickets.each do |ticket| %>
        <li>
          <span class="col-xs-4"><strong>Ticket Type:</strong> <%= ticket.ticket_type %></span>
          <span class="col-xs-4"><strong>Price:</strong> $<%= ticket.price %></span>
          <span class="col-xs-4"><strong>Rest Number:</strong> <%= ticket.rest_num %>/<%= ticket.total_num %>left!</span>

          <div class="col-xs-12">
            <label><strong>Reserve NOW:</strong> </label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Number of Tickets" data-ticket-id="<%= ticket.id %>">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">BOOK!</button>
              </span>
            </div><!-- /input-group -->
          </div>
        </li>
        <li class="nav-divider"></li>
      <% end %>
    </ul>
  </div>
</div>

<%= javascript_include_tag 'viewer/ticket' %>