<div id="timeline-wrapper" class="panel panel-default">
  <div class="panel-heading">
    <!--optional-->
  </div>
  <div class="panel-body">
    <ul class="timeline">
      <!--assume there will be timeline_items available from controller.-->
      <% index = 0 %>
      <% timeline_items.each do |item| %>
        <% if index.odd? then %>
        <li>
        <% else %>
        <li class="timeline-inverted timeline-right">
        <% end %>
          <div class="timeline-badge">

          </div>
          <div class="timeline-panel">

            <%= link_to "/event/#{ item.id }", remote: true, class: 'item-popup-link' do %>
              <span>
              </span>
            <% end %>

            <div class="timeline-heading">
              <h4 class="timeline-title ">
                <%= item.name %>
              </h4>
              <p>
                <small >
                  <%= item.time %>
                </small>
              </p>
            </div>
            <div class="timeline-body">
              <p>
                <%= item.short_description %>
              </p>
            </div>
          </div>
        </li>
        <% index = index + 1 %>
      <% end %>
    </ul>
  </div>
</div>