<ul class="col-xs-12">
  <!-- event button - Like -->
  <li id="flaggable-wrapper">
    <%= render 'flaggables/flag_button' %>
  </li>

  <!-- event button - reserve tickets -->
  <li>
    <button class="btn btn-default">
      <% if @flag[:type] == 'society' %>
        <%= link_to society_events_path(id: @flag[:id]), id: "society-events-btn" do %>
          <span class="hover"></span>
          <span class="caption hidden-xs">Events</span>
          <span class="glyphicon glyphicon-leaf visible-xs"></span>
        <% end %>
      <% else %>
        <%= link_to ticket_request_path(event_id: @viewer_item.id), remote: true, id: 'ticket-reserve-btn' do %>
          <span class="hover"></span>
          <span class="caption hidden-xs">Tickets</span>
          <span class="glyphicon glyphicon-usd visible-xs"></span>
        <% end %>
      <% end %>
    </button>
  </li>

  <!-- event button - discussion  -->
  <li>
    <button class="btn btn-default">
      <%= link_to event_show_comments_path(:event_id => @viewer_item.id), remote: true, id: 'discussion-btn' do %>
        <span class="hover"></span>
        <span class="caption hidden-xs">Discussion</span>
        <span class="glyphicon glyphicon-comment visible-xs"></span>
      <% end %>
    </button>
  </li>

  <!--admin button only-->
  <li>
    <button class="btn btn-default">
      <%= link_to event_report_path(:event_id => @viewer_item.id, :format => :pdf), :target => '_blank', id: 'report-btn' do %>
        <span class="hover"></span>
        <span class="caption">Report</span>
      <% end %>
    </button>
  </li>
  <!--<li>-->
    <!--<a class="edit-btn" href="http://www.facebook.com/creativedash" target="_blank">-->
      <!--<span class="hover"></span>-->
      <!--<span class="caption">Edit</span>-->
    <!--</a>-->
  <!--</li>-->
</ul>

<%= javascript_include_tag 'viewer/viewer' %>