<!-- carousel from bootstrap-->
<!--TODO-->
<button type="button" class="btn btn-default btn-lg" id="viewer-close-button">
  <span class="glyphicon glyphicon-remove"></span>
</button>

<div>
<%
  image_links =[]

   @viewer_images.each do |image|
     image_links.append(image.try(:event_image).try(:url, :viewer))

   end
   @image_links = image_links
%>
   <%= render 'shared/carousel'%>
</div>
<!--Try to abstract the carousel from multiple use-->


<ul class="list-group ">

  <li class="list-group-item media">
    <a class="pull-left col-xs-4" href="#">
      <%= image_tag('UniLogo.png', class: 'img-responsive viewer-logo') %>
    </a>
    <div class="media-body col-xs-8">
      <h2 class="media-heading col-xs-12" align="left">
        <%= viewer_item.name %>
      </h2>
      <h4> <%= viewer_item.try(:time) %></h4>
      <h4>  <%= viewer_item.try(:venue) %></h4>
    </div>
  </li>
  <li class="list-group-item">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
      Description
    </a>
    <div id="collapse1" class="panel-collapse collapse">

      <%= viewer_item.try(:long_description) %>
      <%= viewer_item.try(:description) %>
    </div>
  </li>
</ul>

<div class="btn-toolbar" role="toolbar">
  <div id="button-list">
    <%= render 'shared/viewer_button' %>
  </div>
</div>

<div id="ticket-list"></div>

<!--comment board will be loaded dynamically via AJAX request-->

<div id="comment-board"></div>