<div id="event-form" class="registration-form">
  <h2 class="form-heading">
  Register a New Events
  </h2>

  <%= form_for(@event) do |f| %>

    <%= f.hidden_field :society_id, value: @society_id %>

    <div class="tabbable columns">

      <ul id="event-form-heading" class="nav nav-tabs">
        <li class="active"><a id="details-tab" href="#details-pane" data-toggle="tab"> DETAILS </a></li>
        <li class=""><a id="images-tab" href="#images-pane" data-toggle="tab"> IMAGES </a></li>
        <li class=""> <a id="invitations-tab" href="#invitations-pane" data-toggle="tab"> INVITATIONS </a></li>
      </ul>

      <div id="event-form-content" class="tab-content row">

        <!--tab details-->
        <div class="tab-pane fade active in" id="details-pane">

            <!--event name-->
          <div class="col-xs-12" id="line1">
            <div class="col-sm-6 form-group">
              <%= f.label 'Event Name', class: 'control-label col-xs-12' %>
              <%= f.text_field :name, placeholder: 'Enter Event Name', class: 'form-control col-xs-12' %>
            </div>
            <div class="col-sm-6 form-group data-select">
              <%= f.label 'When is it?', class:'control-label col-xs-12' %>
              <%= f.datetime_select :time, class: 'form-control col-xs-12' %>
            </div>
          </div>

          <div class="col-xs-12" id="line2">
            <div class="col-sm-6 form-group">
              <%= f.label 'Venue', class: 'control-label col-xs-12' %>
              <%= f.text_field :venue, placeholder: 'Enter Venue Info', class: 'form-control col-xs-12' %>
            </div>
            <div class="col-sm-6 form-group">
              <%= f.label 'Event Type', class: 'control-label col-xs-12' %>
              <%= f.select :event_type, options_for_select([['Arts', 1], ['Sports', 2], ['Educations', 3], ['Others', 4]], 1), class: 'form-control col-xs-12' %>
            </div>
          </div>

          <div class="col-xs-12" id="line3">
            <div class="col-sm-6 form-group">
              <%= f.label 'Short Description', class: 'control-label col-xs-12' %>
              <%= f.text_area :short_description, placeholder: 'Enter a Short Description', class: 'form-control col-xs-12', :maxlength => 255 %>
              <span class="help-block">Maximum length 255 characters!</span>
            </div>
          </div>

          <div class="col-xs-12 button-wrapper" id="line-button">
            <a href="<%= root_path %>">
              <input type="button" class="btn btn-danger" value="Cancel" />
            </a>
            <input type="button" class="btn btn-info" onclick="document.getElementById('images-tab').click()" value="Next" />
          </div>

        </div>

        <!--tab people-->
        <div class="tab-pane fade" id="images-pane">

          <!--people left-->
          <div class="col-sm-6 form-group">
            <%= f.label 'Describe your event', class: 'control-label' %>
            <%= f.text_area(:long_description, placeholder: 'Describe your event in detail', class: 'form-control', :maxlength => 2047) %>
            <span class="help-block">Maximum length 2047 characters!</span>
          </div>

          <div class="col-sm-6" id="upload-panel">
            <div id="progress" class="progress progress-striped col-xs-12">
              <div class="progress-bar progress-bar-success" role="progressbar"  aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div id="preview" class="col-xs-12">
              <div class="media hide">
                <a class="center-block" href="#">
                  <img class="media-object center-block" data-src="holder.js/64x64" src="" alt="">
                </a>
                <div class="media-body">
                  <h4 class="media-heading"></h4>
                  <%= hidden_field_tag 'event_image_id' %>
                </div>
              </div>
            </div>
            <div class="button-wrapper">
              <%= f.fields_for :event_images do |q| %>
                <span class="btn btn-success fileinput-button pull-left">
                  <i class="glyphicon glyphicon-plus"></i>
                  <span>Select files...</span>
                    <!-- The file input field used as target for the file upload widget -->
                  <%= q.file_field :event_image, accept: 'image/png,image/gif,image/jpeg', id: 'event_image_upload' %>
                </span>
                <a href="#" class="pull-right">
                  <span class="btn btn-danger delete" role="button">Delete
                  </span>
                </a>
              <% end %>
            </div>
          </div>


          <div class="col-xs-12 button-wrapper" id="line-button">
            <input type="button" class="btn btn-warning" onclick="document.getElementById('details-tab').click()" value="Previous" />
            <input type="button" class="btn btn-info" onclick="document.getElementById('invitations-tab').click()" value="Next" />
          </div>
        </div>

        <!--tab review-->
        <div class="tab-pane fade" id="invitations-pane">


          <div class="col-sm-6">
            <%= f.fields_for :tickets do |q| %>
              <div class="form-group">
                <%= q.label 'Ticket Type', class: 'control-label' %>
                <%= q.text_field :ticket_type, placeholder: 'Enter Ticket Type', class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= q.label 'Ticket Total Number', class: 'control-label' %>
                <%= q.text_field :total_num, placeholder: 'Enter Ticket Total Number', class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= q.label 'Ticket Price', class: 'control-label' %>
                <%= q.text_field :price, placeholder: 'Enter Ticket Price', class: 'form-control' %>
              </div>
            <% end %>
          </div>

          <div class="col-sm-6" id="invitation-search">
            <%= f.label 'Invitations', class: 'col-xs-12' %>
            <input id="search-box" name="keyword" type="text" placeholder="Search for Society" class="col-xs-12 form-control" />
            <div id="live-search-results" class="col-xs-12"></div>
            <div id="invitation-list" class="col-xs-12">
                <span class="label label-success invitation-label hidden pull-left" data-toggle="tooltip" data-placement="top" title="Delete">
                </span>
              <%= hidden_field_tag :invitations, "" %>
            </div>
          </div>


          <div class="col-xs-12 button-wrapper">
            <input type="button" class="btn btn-warning" onclick="document.getElementById('images-tab').click()" value="Previous" />
            <input type="submit" class="btn btn-success" value="submit" />
          </div>

        </div>
      </div>
    </div>



  <% end %>
</div>

<%= javascript_include_tag 'registration_form/event_registration_form', async: true %>