var page = "<%= escape_javascript(render "/shared/viewer", viewer_item: @viewer_item, viewer_images: @viewer_images) %>";

var lg_window = 1200;
var md_window = 992;
var sm_window = 768;
var xs_window = 478; // or 640


var show_viewer = function() {
  var timelineInvertedItems = $('li.timeline-right');
  var i;
  var timelinePanels = $('.timeline-panel');
  var timelineBadges = $('.timeline-badge');
  var timeline = $('.timeline');


  var timeline_change = function() {
    if (timeline != null && timeline.length != 0) {
      for (i = 0; i < timelineInvertedItems.size(); i ++) {
        timelineInvertedItems[i].classList.remove('timeline-inverted');
      }
      console.log('11');
      timeline[0].classList.add('change');
      for (i = 0; i < timelinePanels.size(); i ++) {
        timelinePanels[i].style.width = "95%";
      }
      for (i = 0; i < timelineBadges.size(); i ++) {
        timelineBadges[i].style.left = "99%";
      }
      console.log('11');
    }


  };

  if ($(window).width() > md_window) {

    $('#center').removeClass('col-md-10 col-lg-8').addClass('col-md-5 col-lg-4');
    $('#right').removeClass('col-md-2 col-lg-2').addClass('col-md-6 col-lg-6');
    $('#right-viewer').html(page).removeClass('hidden');

    console.log('timeline_unchanged');

    timeline_change();

    console.log('timeline_changed');

    $('#viewer-close-button').on('click', function () {
      $('#right-viewer').html('').addClass('hidden');
      $('#center').addClass('col-md-10 col-lg-8').removeClass('col-md-5 col-lg-4');
      $('#right').addClass('col-md-2 col-lg-2').removeClass('col-md-6 col-lg-6');
      timeline_init(xs_window);
    });
  }
  else {
    $('.modal-content').html(page);
    $('#myModal').modal('show');
    $('#viewer-close-button').on('click', function () {
      $('#myModal').modal('hide');
    });
  }
};

show_viewer();








