<% if @tickets.blank? %>
  $('#alert-banner').html(" <%= escape_javascript(render "/shared/alert", title: 'Info:', message: 'There is no ticket available now!') %>");
<% else %>
  $('#ticket-list').html(" <%= escape_javascript(render "/shared/ticket_page", tickets: @tickets) %>");
<% end %>
