<div class="error">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  <div class="message">
    <strong>Error!</strong>
    We're sorry, but our server is experiencing problems :(
  </div>
  <div class="contact_info">
    <%= link_to image_tag('layouts/twitter.png'), "https://twitter.com/", :title => "Follow Updates On Twitter", :target => "_blank" %>
    <%= link_to image_tag('layouts/facebook.png'), "http://www.facebook.com/", :title => "See Progress On Facebook", :target => "_blank" %>
    <%= link_to image_tag('layouts/UniLogo.png'), "http://www.unimelb.edu.au/", :title => "Catch Our Fusion Feed Updates", :target => "_blank"  %>
  </div>
</div>