<div id="society-form" class="registration-form">

  <h2 class="form-heading">
    Register a New Society
  </h2>

  <%= form_for(@society) do |f| %>



    <div class="tabbable columns">

      <ul id="society-form-heading" class="nav nav-tabs">
        <li class="active"><a id="society-tab" href="#society-pane" data-toggle="tab"> SOCIETY </a></li>
        <li class=""><a id="people-tab" href="#people-pane" data-toggle="tab"> PEOPLE </a></li>
        <li class=""> <a id="review-tab" href="#review-pane" data-toggle="tab"> REVIEW </a></li>
      </ul>

      <div id="society-form-content" class="tab-content">

        <!--tab society-->
        <div class="tab-pane fade active in" id="society-pane">
          <div class="row">

            <!--society name-->
            <div class="col-sm-12 form-group">
              <%= f.label 'Society Name', class: 'control-label' %>
              <%= f.text_field :name, placeholder: 'Enter Society Name', class: 'form-control' %>
            </div>
            <div class="col-sm-12 form-group">
              <%= f.label 'Registration Number', class:'control-label' %>
              <%= f.text_field :registration_number, placeholder: 'Enter Registration Number', class: 'form-control' %>
            </div>
            <div class="col-sm-12 form-group">
              <%= f.label 'Website Address', class: 'control-label' %>
              <%= f.text_field :website_link, placeholder: 'Enter Website Link', class: 'form-control' %>

            </div>

          </div>

          <div class="col-xs-12 button-wrapper" id="line-button">
            <a href="<%= root_path %>">
              <input type="button" class="btn btn-danger pull-left" value="Cancel" />
            </a>
            <input type="button" class="btn btn-info pull-right" onclick="document.getElementById('people-tab').click()" value="Next" />
          </div>
        </div>

        <!--tab people-->
        <div class="tab-pane fade" id="people-pane">

          <!--people left-->
          <div class="col-sm-6 form-group">
            <%= f.label 'What\'s your position?', class: 'control-label' %>
            <%= select_tag(:my_position, options_for_select([['President', 1], ['Treasurer', 2]], 1), class: 'form-control', id: 'my-position') %>

          </div>

          <div class="col-sm-6 form-group">
            <label class="control-label" for="contact_number">Telephone:</label>
            <%= telephone_field_tag(:contact_number, '', placeholder: 'Society Contact Number', class: 'form-control') %>
          </div>

          <div class="col-sm-6 form-group hidden" id="president-email-div">

            <label class="control-label" for="president_email">Society President</label>
            <%= email_field_tag(:president_email, '', placeholder: 'Society President Email', class: 'form-control') %>

          </div>

          <!--switch-->
          <div class="col-sm-6 form-group" id="treasurer-email-div">

            <label class="control-label" for="treasurer_email">Society Treasurer</label>
            <%= email_field_tag(:treasurer_email, '', placeholder: 'Society Treasurer Email', class: 'form-control') %>

          </div>

          <!--people right-->
          <div class="col-sm-6 form-group">
            <label class="control-label" for="contact_number">Description:</label>
            <%= f.text_area(:description, placeholder: 'Please enter a brief description of your society', class: 'form-control', maxlength: 2047) %>
          </div>

          <div class="col-xs-12 button-wrapper" id="line-button">
          <input type="button" class="btn btn-warning pull-left" onclick="document.getElementById('society-tab').click()" value="Previous" />
          <input type="button" class="btn btn-info pull-right" onclick="document.getElementById('review-tab').click()" value="Next" />
          </div>
        </div>

        <!--tab review-->
        <div class="tab-pane fade" id="review-pane">
          <div class="col-xs-12 button-wrapper" id="line-button">
            <input type="button" class="btn btn-warning pull-left" onclick="document.getElementById('people-tab').click()" value="Previous" />
            <input type="submit" class="btn btn-success pull-right" value="submit" />
          </div>
        </div>
      </div>
    </div>



  <% end %>
</div>

<%= javascript_include_tag 'registration_form/society_registration_form', async: true %>
