<% @results = Hash.new %>
<% @results[:events] = @events %>
<h2>My Events</h2>
<%= render 'shared/list' %>
<h2>Unaccepted Invited Events</h2>
<div class="list-group" xmlns="http://www.w3.org/1999/html">
  <% unless unaccepted_events.blank? %>
    <% unaccepted_events.each do |event| %>
      <%= link_to "/event/#{ event.id }", remote: true, class: 'list-group-item' do %>
        <h4 class="list-group-item-heading"><i class="icon-bag"></i> <%= event.name %></h4>
        <p class="list-group-item-text">
          Time: <%= event.time %> <br>
          Venue: <%= event.venue %> <br>
          Accepted: <span style="color: #ff0000;">Nope!</span>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>
<h2>Accepted Invited Events</h2>
<div class="list-group" xmlns="http://www.w3.org/1999/html">
  <% unless accepted_events.blank? %>
    <% accepted_events.each do |event| %>
      <%= link_to "/event/#{ event.id }", remote: true, class: 'list-group-item' do %>
        <h4 class="list-group-item-heading"><i class="icon-bag"></i> <%= event.name %></h4>
        <p class="list-group-item-text">
          Time: <%= event.time %> <br>
          Venue: <%= event.venue %> <br>
          Accepted: <span style="color: lawngreen;">Yep!</span>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>