.navbar {
  text-align: center;
  margin-bottom: 0 !important;
}

.navbar-header .navbar-brand {
  padding: 15px 0;
}

.navbar .navbar-form{
  padding: 0 15px;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#search-filter .dropdown-menu {
  right: 0;
  left: auto;
}
