@import "bootstrap";

#sidebar {
  position: fixed;
  height: 100%;
}

#alert-banner {
  position: fixed;
  left: 1em;
  top: 4em;
  margin: 0;
  padding: 0;
  z-index: 9000;
}

#content-panel {
  margin: 0;
  padding-top: $navbar-height;
}

#right {
  position: fixed;
  right: 0;
//  float: right !important;
  overflow: scroll;
//  max-height: auto;
  height: 100%;
}

#right-viewer {
  min-height: 1500px;
  max-height: auto;
  overflow: scroll;
}
