$left_column_width:         300px;
$right_column_width:        600px;
$center_column_padding:     20px;
$top_down_padding:          10px;
$left_right_padding:        0;
$left_column_full_width:    $left_column_width + 2 * $left_right_padding;
$right_column_full_width:   $right_column_width + 2 * $left_right_padding;

html {
  overflow-x: hidden;
}

#header {
//  background-color: lightcoral;
}

#footer, #header {
  text-align: center;
}

body .panel {
  min-height: 500px;
}

#center {
//  background-color: lightgreen;
  padding: 0;
//  height: 2000px;
}
#sidebar {
  background-color: lightgoldenrodyellow;
  *zoom: 1;
}
#right {
//  background-color: lightblue;
}
#footer {
  clear: both;
//  background-color: lightgrey;
}




body {
  padding-top: 0px;
  overflow-x: hidden;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}



