@import "bootstrap";

$md_screen_size: 992px;
$lg_screen_size: 1200px;
$sidebar_size: $container-lg / 6;

@media (min-width: $lg_screen_size) {
  .modal-lg {
//    width: $lg_screen_size * 0.8 !important;
//    height: 800px !important; /* control height here */
  }
}