.tabbable .nav-tabs a {
  pointer-events: none;
}

#live-search-results .list-group-item:hover {
  cursor: pointer;
}

.invitation-label:hover {
  background-color: red;
  cursor: pointer;
}

#center .registration-form {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 10px !important;
}

#event-form .data-select select {
  width: 16%;
}

.button-wrapper {
  text-align: center;
}

.button-wrapper input {
  margin: 10px 20px;
}

#event-form .progress {
  padding: 0;
  margin: 10px 0;
}

#event-form .media a {
  text-align: center;
}

.tabbable .nav li {
  width: 33%;
  text-align: center;
}

.tabbable .nav {
  margin-bottom: 10px;
}

#live-search-results {
  max-height: 300px;
  overflow: scroll;
  margin-top: 5px;
}

#event-form #invitation-list {
  margin-top: 10px;
  padding-top: 10px;
}
