@import "bootstrap";

$md_screen_size: 992px;
$lg_screen_size: 1200px;
$sidebar_size: $container-lg / 6;


.sidebar-icon {
  width: 50px;
  height: 50px;
}

.sidebar-ul {
  list-style-type: none;
}
.sidebar-ul li:nth-child(8n+2) {
  background : #d9edf7;
  color: #428bca;
}

.sidebar-ul li:nth-child(8n+4) {

  background:#faebcc;
  color: #8a6d3b;
}
.sidebar-ul li:nth-child(8n+6) {
  background: #d6e9c6;
  color: #3c763d;
}
.sidebar-ul li:nth-child(8n+8) {
  background: #ebccd1;
  color: #a94442;
}

.md-sidebar.sidebar-ul li {
  text-align: center;

}



.sidebar-item {
  padding: 0 10px;


}


/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: $lg_screen_size) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: $sidebar_size;
  }

  .row-offcanvas-left.active #center.active {
    left: - $sidebar_size + $screen-lg / 12;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
//    left: -$sidebar_size;
    position: absolute;
    left: 0;
//    top: 0;
    width: $sidebar_size;
    margin-left: 0px;
  }

  #sidebar.scroll #swipable {
//    position: absolute !important;
//    left: -$sidebar_size;
    height: 800px !important;
//    overflow: scroll !important;
  }

  #sidebar.scroll {
    overflow: scroll !important;
  }

  #sidebar, #sidebar a, #sidebar-footer a {
    padding-left: 3px;
  }
}


// swipable

#swipable {
  overflow: hidden;
}

#swipable .swipable-item {
  width: 100%;
}

#swipable .role-portrait {
  text-align: center !important;
  margin: 10px 0;
}

#swipable .role-portrait img {
}

// fixed sidebar

//filter
.blur {
  position: relative;
  filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */

  -webkit-filter: blur(10px); /* Chrome, Opera */
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);

  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}


.role-switch-left, .role-switch-right:hover {
  cursor: pointer;
}