@import 'bootstrap';

.list-group .media a {
  padding: 0;
  margin: 0;
}

.viewer-logo {
  max-height: 150px;
}

.media-body {
  padding: 0;
  margin: 0;
  font-size: 20pt;
}

@media screen and (max-width: $screen-md) {
  .media-body h2 {
    font-size: 15pt;
  }

  .media-body h4 {
    font-size: 10pt;
    margin-left: 10px;
  }

  #button-list ul {
    padding-left: 0;
  }
}

@media screen and (max-width: $screen-xs) {

}

#button-list ul {
  display: inline-block;
  list-style: none;
  line-height: 1.5em;
  padding-left: 10px;
}

#button-list ul li {
  display: inline-block;
  line-height: 1.5em;
}

#button-list ul a {
  text-decoration: none;
  color: #000000;
}

.btn-toolbar {
  text-align: center;
}

#viewer-close-button {
  position: absolute;
  font-size: 2em;
  right: 0;
  top: 0;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px;
  border-radius: 1000px;
  border-color: lightcoral;
  color: red;
  z-index: 1000;
  background: none;
  margin-right: 1em;
}


@media screen and (max-width: $screen-md) {
  #right {
    width: 0;
    border: 0;
    padding: 0;
    position: absolute;
  }
}

#ticket-info ul {
  list-style: none;
}

#ticket-info {
  min-height: 100px !important;
}

#ticket-info .panel-body ul {
  text-align: left !important;
  padding-left: -50px !important;
}