<!DOCTYPE html>
<html>
<head>
  <title>ClubBiz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!--Add the following line to enable proper rendering in mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <%= render 'shared/header' %>
  </div>
  <div id="alert-banner"></div>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
  <div class="container-fluid" id="content-panel">
    <div class="row row-offcanvas row-offcanvas-left">

      <div id="sidebar" class=" col-md-1 col-lg-2 sidebar-offcanvas hidden-sm hidden-xs">
        <!--sidebar-->
          <%= render('shared/sidebar', role: {user: @_current_user, societies: session[:societies]}) %>
      </div>


      <div id="center" class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-lg-offset-2 col-md-offset-1">
        <!--2nd column-->
        <!--<div id="midCol" data-spy="affix" data-offset-top="250">-->
          <%= yield :center if content_for?(:center) %>
          <%= yield unless content_for?(:center) %>
        <!--</div>&lt;!&ndash;/middleCol&ndash;&gt;-->
      </div><!--/span3-->


      <div id="right" class="col-md-1 col-md-offset-1 col-lg-2">
        <div id="myModal" class="modal fade" role="dialog" tabindex="-1">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
          </div>
          <!--<%# yield :right if content_for?(:right)%>-->
        </div>
        <div id="right-viewer" class="hidden">
          <!--<%# yield :right if content_for?(:right)%>-->
        </div>
      </div>

    </div>
  </div>
  <div id="footer">
    <%= render 'shared/footer' %>
  </div>
</body>
</html>
