<!DOCTYPE html>
<html>
<head>
  <title>ClubBiz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!--Add the following line to enable proper rendering in mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>